body {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    overflow-x: hidden;
    font-family: 'Epilogue', Arial, Helvetica, sans-serif;
}

h2::selection, 
p::selection, 
a::selection, 
button::selection{
 color: purple;
}


header nav .main-header-div{
 display: flex;
 justify-content: space-between;
 margin: 1.5rem .8rem 0 .8rem;
}

.nav-menu a,p{
 text-decoration: none;
 color: hsl(0, 0%, 41%);
}

.nav-content a:hover{
 color: hsl(0, 0%, 8%);
}

.nav-menu button{
 border: 2px solid hsl(0, 0%, 41%);
 border-radius: .7rem;
 outline: none;
 width: 50vw;
 background-color: transparent;
 color: hsl(0, 0%, 41%);
 font-weight: bold;
 padding-block: 10px;
 animation: button 1s linear .1s infinite alternate;
}

.nav-menu button:hover{
 border-color:  hsl(0, 0%, 8%);
 color: hsl(0, 0%, 8%);
}

@keyframes button{
 from{
  transform: scale(0.8);
 }
 to{
  transform: scale(1.2);
 }
}

.nav-menu .hamburger-menu{
 position: relative;
}

.nav-menu .nav-content{
 position: absolute;
 pointer-events: none;
 display: none;
 z-index: 100;
 top: -1.5rem;
 right: -.8rem;
 background-color: white;
 min-height: 88.3vh;
 min-width: 55vw;
 padding: 1.8rem 1rem 0 1.6rem;
 animation: navBar .5s linear 0s;
 animation-fill-mode: forwards;
}

@keyframes navBar{
 from{
  top: -100rem;
 }
 to{
  top: -1.5rem;
 }
}

.nav-content .close-nav-div{
 display: flex;
 justify-content: end;
 margin-top: -.4rem;
}

.feature-pTag, 
.company-pTag{
 display: flex;
 align-items: center;
 justify-content: flex-start;
 width: 6.5rem;
}

.feature-caret, 
.company-caret{
 transform: rotate(180deg);
 color: hsl(0, 0%, 41%);
}

.feature-caret:hover, 
.company-caret:hover{
 color:  hsl(0, 0%, 8%);
}

.feature-pTag p, 
.company-pTag p{
 margin: 0;
 margin-right: 1rem;
}

.feature-pTag p:hover, 
.company-pTag p:hover{
 color: hsl(0, 0%, 8%); 
}

.features,
.company,
.careers-div{
 margin-block: 1.7rem;
}

.features .sub-features .feature-pTag{
 position: relative;
}

.features .sub-features .features-subContent{
 display: none;
 pointer-events: none;
 margin-left: 2rem;
 margin-block: 1.7rem;
}

.features-subContent div{
 display: flex;
 align-items: center;
}

.features-subContent div img{
 margin-right: .8rem;
}

.features-subContent div, 
.company-subContent div{
 margin-bottom: 1.5rem;
}

.company .company-pTag{
 position: relative;
}

.company .company-subContent{
 display: none;
 pointer-events: none;
 margin-left: 2rem;
 margin-block: 1.7rem;
}

.login-div{
 margin-top: 2.3rem;
}

.register-button-div{
 margin-top: 1.1rem;
}

.login-div, .register-button-div{
 text-align: center;
}


/* Main Section */

section{
 text-align: center;
}

section .image-div{
 margin-block: 2rem;
}

section .clients-div{
 display: flex;
 margin-top: 2rem;
 justify-content: space-around;
}

section h2{
 font-size: 2.4rem;
 letter-spacing: 0;
 margin-bottom: 0;
 position: relative;
 left: -50rem;
 animation: mainText 2s linear .1s;
 animation-fill-mode: forwards;
}

@keyframes mainText{
 from{
  left: -50rem;
 }
 to{
  left: .2rem;
 }
}

section p{
 line-height: 1.5;
 letter-spacing: 0;
 position: relative;
 right: -50rem;
 color: hsl(0, 0%, 41%);
 animation: introText 2s linear .1s;
 animation-fill-mode: forwards;
}

@keyframes introText{
 from{
  right: -50rem;
 }
 to{
  right: .2rem;
 }
}

section button{
 outline: none;
 border: none;
 background-color: black;
 color: hsl(0, 0%, 98%);
 font-weight: bold;
 width: 36vw;
 padding: 12px 17px;
 border-radius: .7rem;
 opacity: 0;
 animation: sectionButton 2s linear 2.5s;
 animation-fill-mode: forwards;
}

section button:hover{
 background-color: transparent;
 border: 2px solid black;
 color: black;
 padding: 10px;
}

@keyframes sectionButton{
 from{
  opacity: 0;
 }
 to{
  opacity: 1;
  transform: rotateY(360deg);
 }
}

section div.clients-div img:first-child{
 opacity: 0;
 animation: firstImage 2s linear 1s;
 animation-fill-mode: forwards;
}

section div.clients-div img:nth-child(2){
 opacity: 0;
 animation: secondImage 2s linear .8s;
 animation-fill-mode: forwards;
}

section div.clients-div img:nth-child(3){
 opacity: 0;
 animation: thirdImage 2s linear .6s;
 animation-fill-mode: forwards;
}

section div.clients-div img:last-child{
 opacity: 0;
 animation: lastImage 2s linear .2s;
 animation-fill-mode: forwards;
}

@keyframes firstImage{
 from{
  opacity: 0;
 }
 to{
  opacity: 1;
 }
}

@keyframes secondImage{
 from{
  opacity: 0;
 }
 to{
  opacity: 1;
 }
}

@keyframes thirdImage{
 from{
  opacity: 0;
 }
 to{
  opacity: 1;
 }
}

@keyframes lastImage{
 from{
  opacity: 0;
 }
 to{
  opacity: 1;
 }
}
